.jumbotron {
    background-color: lightskyblue;
    text-align: center;
    margin: 1px;
}
.container1 {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    flex-wrap: wrap;
    background-color: #aee;
}
.container2 {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    flex-wrap: wrap;
    background-color: #aef;

}
.container3 {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    flex-wrap: wrap;
    background-color: #ade;

}
.card-hotel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 100px;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    justify-content: space-between;
    background-color: #add;


}
footer {
    display: flex;
}
.btn {
    width: 100%;
    color:blanchedalmond;
}